<p>{% extends "base.html" %} {% block content %}</p>
<main>
<div class="vertical-align-middle center container">
<div id="main-card" class="card-panel hoverable">
<h1 id="dashbots" class="animated jackInTheBox header">DEVALOKAM <img src="https://media.discordapp.net/attachments/800068005048352819/846631952420175892/D_logo_Gold_Emboss.png?width=427&amp;height=559" alt="" width="30" height="39" /></h1>
<h5 class="header col s12 light grey-text">Devalokam Discord TICKET-LOGS.</h5>
<br />
<div class="row center"><a class="btn waves-effect my-button" href="https://github.com/rayd3on">Github</a> <a class="btn waves-effect my-button" href="https://discordapp.com/users/395511092924776458">Discord</a> <a class="btn waves-effect my-button" href="https://patreon.com/radioopensource">Patreon</a></div>
</div>
</div>
</main>
<p>{% endblock %}</p>
