{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Logviewer</h1>
        <h5 class="header col s12 light grey-text">Devalokam Discord M-LOGS.</h5>
        <br>
        <div class="row center">
            <a href="https://github.com/rayd3on" class="btn waves-effect my-button">Github</a>
            <a href="https://discordapp.com/users/395511092924776458" class="btn waves-effect my-button">Discord</a>
            <a href="https://patreon.com/radioopensource" class="btn waves-effect my-button">Patreon</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}